@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* css variables */
  --title: italic 700 2.5rem 'Inter', sans-serif;
  --undertitle: 700 1.25rem 'Inter', sans-serif;
  --text: 500 1.125rem 'Inter', sans-serif;
  --metadata: 400 0.75rem 'Inter', sans-serif;

  --loading-bg: #1E1E1E;
  --loading-bg-2: #141414;

  --background: #232323;
  --dark: #1E1E1E;
  --lower-tone: #6A6565;
  --white: #fff;
  --white-2: #D2E4D6;
  --green: #21611B;
  --red: #C11212;

  --inventory-background: #525152;
  --inventory-item-background: #333333;
  --inventory-item-border: #232323; 

  --border-radius: 0.625rem;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}

body, body * {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}


/* width */
::-webkit-scrollbar {
  width: .7rem;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: var(--background); 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lower-tone); 
}

  